In [3]:
import torch
from torch.utils.data import Dataset
from torchvision import datasets
from torchvision.transforms import ToTensor
import matplotlib.pyplot as plt

In [97]:
from torch.utils.data import Dataset
from enum import Enum
import pandas as pd
import numpy as np
import os


class DatasetType(Enum):
    TRAIN = 1
    VAL = 2
    TEST = 3


class MIMICDataset(Dataset):
    def __init__(self, processed_dir: str, dataset_type: DatasetType):
        self.processed_dir = processed_dir
        self.dataset_type = dataset_type

        if dataset_type == DatasetType.TRAIN:
            self.data_path = os.path.join(self.processed_dir, 'train/')
            self.index_path = os.path.join(
                self.processed_dir, 'train_idxs.npy')
        elif dataset_type == DatasetType.VAL:
            self.data_path = os.path.join(self.processed_dir, 'val/')
            self.index_path = os.path.join(self.processed_dir, 'val_idxs.npy')
        elif dataset_type == DatasetType.TEST:
            self.data_path = os.path.join(self.processed_dir, 'test/')
            self.index_path = os.path.join(self.processed_dir, 'test_idxs.npy')
        else:
            raise ValueError("Invalid dataset type.")

        try:
            self.idxs = np.load(self.index_path)
            self.demographics = pd.read_csv(
                os.path.join(self.data_path, 'demographic.csv'))
            self.vitals = pd.read_csv(
                os.path.join(self.data_path, 'vitals.csv'))
            self.interventions = pd.read_csv(
                os.path.join(self.data_path, 'interventions.csv'))
            self.notes_static = pd.read_csv(
                os.path.join(self.data_path, 'notes_static.csv'))
            self.notes_ts = pd.read_csv(
                os.path.join(self.data_path, 'notes_ts.csv'))
        except FileNotFoundError as e:
            print("Make sure data has been processed: ", e)

        self.demographics.set_index('pat_id', inplace=True)
        self.vitals.set_index(['pat_id', 'hours_in'], inplace=True)
        self.interventions.set_index(['pat_id', 'hours_in'], inplace=True)
        self.notes_static.set_index('pat_id', inplace=True)
        self.notes_ts.set_index(['pat_id', 'hours_in'], inplace=True)

        self.nst_idxs = set(self.notes_static.index.values)
        self.nts_idxs = set(self.notes_ts.index.get_level_values(0).values)

    def __len__(self):
        return self.demographics.shape[0]

    def __getitem__(self, idx):
        demographic = self.demographics.loc[idx]
        if idx not in self.idxs:
            raise KeyError("invalid key for the dataset.")

        dem = self.demographics.loc[idx]
        vit = self.vitals.loc[idx]
        itv = self.interventions.loc[idx]

        nst = self.notes_static.loc[idx] if idx in self.nst_idxs else None
        nts = self.notes_ts.loc[idx] if idx in self.nts_idxs else None

        return dem, vit, itv, nst, nts

In [98]:
ds = MIMICDataset('../data/processed', DatasetType.TEST)

In [99]:
test_idxs = np.load('../data/processed/test_idxs.npy')

In [100]:
ds[6953]

(gender                      True
 age                     0.118679
 admission_type                 2
 ethnicity_ASIAN            False
 ethnicity_BLACK            False
 ethnicity_HISPANIC         False
 ethnicity_OTHER            False
 ethnicity_WHITE             True
 insurance_Government       False
 insurance_Medicaid         False
 insurance_Medicare          True
 insurance_Private          False
 insurance_Self Pay         False
 fcu_CCU                     True
 fcu_CSRU                   False
 fcu_MICU                   False
 fcu_SICU                   False
 fcu_TSICU                  False
 Name: 6953, dtype: object,
           alanine aminotransferase  albumin  albumin ascites  albumin pleural  \
 hours_in
 0                             21.0      NaN              NaN              NaN
 1                              NaN      NaN              NaN              NaN
 2                              NaN      NaN              NaN              NaN
 3                              NaN      NaN              NaN              NaN
 4                              NaN      NaN              NaN              NaN
 5                              NaN      NaN              NaN              NaN
 6                              NaN      NaN              NaN              NaN
 7                              NaN      NaN              NaN              NaN
 8                              NaN      NaN              NaN              NaN
 9                              NaN      NaN              NaN              NaN
 10                             NaN      NaN              NaN              NaN
 11                             NaN      NaN              NaN              NaN
 12                             NaN      NaN              NaN              NaN
 13                             NaN      NaN              NaN              NaN
 14                             NaN      NaN              NaN              NaN
 15                             NaN      NaN              NaN              NaN
 16                             NaN      NaN              NaN              NaN
 17                             NaN      NaN              NaN              NaN
 18                             NaN      NaN              NaN              NaN
 19                             NaN      NaN              NaN              NaN
 20                             NaN      NaN              NaN              NaN
 21                             NaN      NaN              NaN              NaN
 22                             NaN      NaN              NaN              NaN
 23                             NaN      NaN              NaN              NaN
 24                             NaN      NaN              NaN              NaN
 25                             NaN      NaN              NaN              NaN
 26                             NaN      NaN              NaN              NaN
 27                             NaN      NaN              NaN              NaN
 28                             NaN      NaN              NaN              NaN
 29                             NaN      NaN              NaN              NaN
 30                             NaN      NaN              NaN              NaN
 31                             NaN      NaN              NaN              NaN
 32                             NaN      NaN              NaN              NaN
 33                             NaN      NaN              NaN              NaN
 34                             NaN      NaN              NaN              NaN
 35                             NaN      NaN              NaN              NaN
 36                             NaN      NaN              NaN              NaN
 37                             NaN      NaN              NaN              NaN
 38                             NaN      NaN              NaN              NaN
 39                             NaN      NaN              NaN              NaN
 40                             NaN      NaN              NaN              NaN
 41                             NaN      NaN              NaN              NaN
 42                             NaN      NaN              NaN              NaN
 43                             NaN      NaN              NaN              NaN

           albumin urine  alkaline phosphate  anion gap  \
 hours_in
 0                   NaN                36.0       13.0
 1                   NaN                 NaN        NaN
 2                   NaN                 NaN        NaN
 3                   NaN                 NaN        NaN
 4                   NaN                 NaN        NaN
 5                   NaN                 NaN        NaN
 6                   NaN                 NaN        NaN
 7                   NaN                 NaN       15.0
 8                   NaN                 NaN        NaN
 9                   NaN                 NaN        NaN
 10                  NaN                 NaN        NaN
 11                  NaN                 NaN        NaN
 12                  NaN                 NaN        NaN
 13                  NaN                 NaN        NaN
 14                  NaN                 NaN        NaN
 15                  NaN                 NaN        NaN
 16                  NaN                 NaN        NaN
 17                  NaN                 NaN        NaN
 18                  NaN                 NaN        NaN
 19                  NaN                 NaN        NaN
 20                  NaN                 NaN        NaN
 21                  NaN                 NaN        NaN
 22                  NaN                 NaN        NaN
 23                  NaN                 NaN        NaN
 24                  NaN                 NaN        NaN
 25                  NaN                 NaN        NaN
 26                  NaN                 NaN        NaN
 27                  NaN                 NaN        NaN
 28                  NaN                 NaN        NaN
 29                  NaN                 NaN        NaN
 30                  NaN                 NaN        NaN
 31                  NaN                 NaN       13.0
 32                  NaN                 NaN        NaN
 33                  NaN                 NaN        NaN
 34                  NaN                 NaN        NaN
 35                  NaN                 NaN        NaN
 36                  NaN                 NaN        NaN
 37                  NaN                 NaN        NaN
 38                  NaN                 NaN        NaN
 39                  NaN                 NaN        NaN
 40                  NaN                 NaN        NaN
 41                  NaN                 NaN        NaN
 42                  NaN                 NaN        NaN
 43                  NaN                 NaN        NaN

           asparate aminotransferase  basophils  bicarbonate  ...  \
 hours_in                                                     ...
 0                              28.0        0.3         24.0  ...
 1                               NaN        NaN          NaN  ...
 2                               NaN        NaN          NaN  ...
 3                               NaN        NaN          NaN  ...
 4                               NaN        NaN          NaN  ...
 5                               NaN        NaN          NaN  ...
 6                               NaN        NaN          NaN  ...
 7                               NaN        NaN         24.0  ...
 8                               NaN        NaN          NaN  ...
 9                               NaN        NaN          NaN  ...
 10                              NaN        NaN          NaN  ...
 11                              NaN        NaN          NaN  ...
 12                              NaN        NaN          NaN  ...
 13                              NaN        NaN          NaN  ...
 14                              NaN        NaN          NaN  ...
 15                              NaN        NaN          NaN  ...
 16                              NaN        NaN          NaN  ...
 17                              NaN        NaN          NaN  ...
 18                              NaN        NaN          NaN  ...
 19                              NaN        NaN          NaN  ...
 20                              NaN        NaN          NaN  ...
 21                              NaN        NaN         18.0  ...
 22                              NaN        NaN          NaN  ...
 23                              NaN        NaN          NaN  ...
 24                              NaN        NaN          NaN  ...
 25                              NaN        NaN          NaN  ...
 26                              NaN        NaN          NaN  ...
 27                              NaN        NaN          NaN  ...
 28                              NaN        NaN          NaN  ...
 29                              NaN        NaN          NaN  ...
 30                              NaN        NaN          NaN  ...
 31                              NaN        NaN         25.0  ...
 32                              NaN        NaN          NaN  ...
 33                              NaN        NaN          NaN  ...
 34                              NaN        NaN          NaN  ...
 35                              NaN        NaN          NaN  ...
 36                              NaN        NaN          NaN  ...
 37                              NaN        NaN          NaN  ...
 38                              NaN        NaN          NaN  ...
 39                              NaN        NaN          NaN  ...
 40                              NaN        NaN          NaN  ...
 41                              NaN        NaN          NaN  ...
 42                              NaN        NaN          NaN  ...
 43                              NaN        NaN          NaN  ...

           total protein  total protein urine  troponin-i  troponin-t  \
 hours_in
 0                   NaN                  NaN         NaN        0.05
 1                   NaN                  NaN         NaN         NaN
 2                   NaN                  NaN         NaN         NaN
 3                   NaN                  NaN         NaN         NaN
 4                   NaN                  NaN         NaN         NaN
 5                   NaN                  NaN         NaN         NaN
 6                   NaN                  NaN         NaN         NaN
 7                   NaN                  NaN         NaN        0.06
 8                   NaN                  NaN         NaN         NaN
 9                   NaN                  NaN         NaN         NaN
 10                  NaN                  NaN         NaN         NaN
 11                  NaN                  NaN         NaN         NaN
 12                  NaN                  NaN         NaN         NaN
 13                  NaN                  NaN         NaN         NaN
 14                  NaN                  NaN         NaN         NaN
 15                  NaN                  NaN         NaN         NaN
 16                  NaN                  NaN         NaN         NaN
 17                  NaN                  NaN         NaN         NaN
 18                  NaN                  NaN         NaN         NaN
 19                  NaN                  NaN         NaN         NaN
 20                  NaN                  NaN         NaN         NaN
 21                  NaN                  NaN         NaN         NaN
 22                  NaN                  NaN         NaN         NaN
 23                  NaN                  NaN         NaN         NaN
 24                  NaN                  NaN         NaN         NaN
 25                  NaN                  NaN         NaN         NaN
 26                  NaN                  NaN         NaN         NaN
 27                  NaN                  NaN         NaN         NaN
 28                  NaN                  NaN         NaN         NaN
 29                  NaN                  NaN         NaN         NaN
 30                  NaN                  NaN         NaN         NaN
 31                  NaN                  NaN         NaN         NaN
 32                  NaN                  NaN         NaN         NaN
 33                  NaN                  NaN         NaN         NaN
 34                  NaN                  NaN         NaN         NaN
 35                  NaN                  NaN         NaN         NaN
 36                  NaN                  NaN         NaN         NaN
 37                  NaN                  NaN         NaN         NaN
 38                  NaN                  NaN         NaN         NaN
 39                  NaN                  NaN         NaN         NaN
 40                  NaN                  NaN         NaN         NaN
 41                  NaN                  NaN         NaN         NaN
 42                  NaN                  NaN         NaN         NaN
 43                  NaN                  NaN         NaN         NaN

           venous pvo2      weight  white blood cell count  \
 hours_in
 0                 NaN         NaN                    10.6
 1                 NaN  113.975842                     NaN
 2                 NaN         NaN                     NaN
 3                 NaN         NaN                     NaN
 4                 NaN         NaN                     NaN
 5                 NaN         NaN                     NaN
 6                 NaN         NaN                     NaN
 7                 NaN         NaN                    12.2
 8                 NaN         NaN                     NaN
 9                 NaN         NaN                     NaN
 10                NaN         NaN                     NaN
 11                NaN  112.500000                     NaN
 12                NaN         NaN                     NaN
 13                NaN         NaN                     NaN
 14                NaN         NaN                     NaN
 15                NaN         NaN                     NaN
 16                NaN         NaN                     NaN
 17                NaN         NaN                     NaN
 18                NaN         NaN                     NaN
 19                NaN         NaN                     NaN
 20                NaN         NaN                     NaN
 21                NaN         NaN                     NaN
 22                NaN         NaN                     NaN
 23                NaN         NaN                     NaN
 24                NaN  113.851685                     NaN
 25                NaN         NaN                     NaN
 26                NaN         NaN                     NaN
 27                NaN         NaN                     NaN
 28                NaN         NaN                     NaN
 29                NaN         NaN                     NaN
 30                NaN         NaN                     NaN
 31                NaN         NaN                     9.3
 32                NaN         NaN                     NaN
 33                NaN         NaN                     NaN
 34                NaN         NaN                     NaN
 35                NaN         NaN                     NaN
 36                NaN         NaN                     NaN
 37                NaN         NaN                     NaN
 38                NaN  111.500000                     NaN
 39                NaN         NaN                     NaN
 40                NaN         NaN                     NaN
 41                NaN         NaN                     NaN
 42                NaN         NaN                     NaN
 43                NaN         NaN                     NaN

           white blood cell count urine  ph  ph urine
 hours_in
 0                                  NaN NaN       NaN
 1                                  NaN NaN       NaN
 2                                  NaN NaN       NaN
 3                                  NaN NaN       NaN
 4                                  NaN NaN       NaN
 5                                  NaN NaN       NaN
 6                                  NaN NaN       NaN
 7                                  NaN NaN       NaN
 8                                  NaN NaN       NaN
 9                                  NaN NaN       NaN
 10                                 NaN NaN       NaN
 11                                 NaN NaN       NaN
 12                                 NaN NaN       NaN
 13                                 NaN NaN       NaN
 14                                 NaN NaN       NaN
 15                                 NaN NaN       NaN
 16                                 NaN NaN       NaN
 17                                 NaN NaN       NaN
 18                                 NaN NaN       NaN
 19                                 NaN NaN       NaN
 20                                 NaN NaN       NaN
 21                                 NaN NaN       NaN
 22                                 NaN NaN       NaN
 23                                 NaN NaN       NaN
 24                                 NaN NaN       NaN
 25                                 NaN NaN       NaN
 26                                 NaN NaN       NaN
 27                                 NaN NaN       NaN
 28                                 NaN NaN       NaN
 29                                 NaN NaN       NaN
 30                                 NaN NaN       NaN
 31                                 NaN NaN       NaN
 32                                 NaN NaN       NaN
 33                                 NaN NaN       NaN
 34                                 NaN NaN       NaN
 35                                 NaN NaN       NaN
 36                                 NaN NaN       NaN
 37                                 NaN NaN       NaN
 38                                 NaN NaN       NaN
 39                                 NaN NaN       NaN
 40                                 NaN NaN       NaN
 41                                 NaN NaN       NaN
 42                                 NaN NaN       NaN
 43                                 NaN NaN       NaN

 [44 rows x 104 columns],
           vent  vaso  adenosine  dobutamine  dopamine  epinephrine  isuprel  \
 hours_in
 0            0     0          0           0         0            0        0
 1            0     0          0           0         0            0        0
 2            0     0          0           0         0            0        0
 3            0     0          0           0         0            0        0
 4            0     0          0           0         0            0        0
 5            0     0          0           0         0            0        0
 6            0     0          0           0         0            0        0
 7            0     0          0           0         0            0        0
 8            0     0          0           0         0            0        0
 9            0     0          0           0         0            0        0
 10           0     0          0           0         0            0        0
 11           0     0          0           0         0            0        0
 12           0     0          0           0         0            0        0
 13           0     0          0           0         0            0        0
 14           0     0          0           0         0            0        0
 15           0     0          0           0         0            0        0
 16           0     0          0           0         0            0        0
 17           0     0          0           0         0            0        0
 18           0     0          0           0         0            0        0
 19           0     0          0           0         0            0        0
 20           0     0          0           0         0            0        0
 21           0     0          0           0         0            0        0
 22           0     0          0           0         0            0        0

In [92]:
test_idxs

array([29912,  6953,  3135, ..., 11284,   860, 15795])

In [96]:
pd.DataFrame([])

Empty DataFrame
Columns: []
Index: []